# /requirements.txt
accelerate
bitsandbytes
diffusers
numpy
opencv-python
pandas
pillow
protobuf
sentencepiece
simple-lama-inpainting
tensorboard
tensorflow
torch
torchaudio
torchvision
tqdm
transformers
ultralytics
